.intro{
    margin-left:auto;
    margin-right:auto;
    color: rgb(58, 62, 174);
}

.intro-text{
    color: rgb(58, 62, 174);
    font-family:"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.role{
    color:white;
}

.app-header{
    height: 80px;
}
.app-footer{
    // background-color: rgb(58, 62, 174);
    height:35rem;
}
.about-btn{
    position: fixed;
    top:38%;
}