$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extraLarge-width: 1200px;

@mixin extraSmallOnly {
    @media(max-width: 576px){
        @content;
    }
}

@mixin smallAndUp{
    @media (min-width: #{$small-width}){
        @content;
    }
}

@mixin mediumAndUp {
  @media (min-width: #{$medium-width}){
    @content;
  }
}

@mixin mediumAndLess {
    @media (max-width: #{$medium-width}){
        @content;
    }
}

@mixin mediumToLarge {
    @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
      @content;
    }
  }

@mixin largeAndUp {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin largeAndLess {
    @media (max-width: #{$large-width}) {
        @content;
    }
}

@mixin extraLarge {
    @media (min-width: #{$extraLarge-width}) {
      @content;
    }
}