@import "bootstrap/scss/bootstrap.scss";
@import 'mixins';

@import 'navBar';
@import 'pageControlArrows';

@import 'login';
@import 'home';
@import 'whatIDo';
@import 'about';

@import 'input';
@import 'loginForm';
@import 'skills';




body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  background-color: #2a2a2a;
  text-align: center;
  overflow-y: scroll;
}
*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

.main-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include mediumAndUp{
    width: 720px;
  }
  @include largeAndUp{
    width: 960px;
  }
  @include extraLarge{
    width: 1140px;
  }
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #777777;
}

.core-1{
  color: #fed136;
}

.hidden-xs {
  @include extraSmallOnly {
    display: none!important;
  }
}

.hidden-sm {
  @include smallAndLess {
    display: none!important;
  }
}

.hidden-md {
  @include mediumAndLess {
    display: none!important;
  }
}

// For all page headings
.main-container {
  .main-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
  }
  .main-subheading{
      font-size: 16px;
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 75px;
  }   
}


// Scroll bar slim style
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Skills Section */

.skills {
  overflow: hidden;
}

.skill-item {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

/* Work Section */
/* .work-page {
  display:flex;
  justify-content: space-between;
} */

/* Contact Section */

.contact-page {
  // overflow-x: hidden;
  // overflow-y: hidden;
  // /* max-width: 1124px; */
  text-align: center;
  // margin-right: auto;
  // margin-left: auto;
}

.contact {
  background-color: #474747;
  color: #ddd;
  // min-height: 90vh;
}

.contact-item1, .be-center {
  margin-right: auto;
  margin-left: auto;
}

.social > ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
}

#footer {
  bottom:0px;
  height: 40px;
  width: 100%;
  background-color: #121e1f;
  color: #7d8384;
}