@import "bootstrap/scss/bootstrap.scss";
@import 'mixins';

@import 'input';
@import 'button';
@import 'navBar';
@import 'pageControlArrows';

@import 'login';
@import 'home';
@import 'whatIDo';
@import 'about';
@import 'skills';
@import 'contact';

@import 'initial';
/*
@import "transition";
*/


body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  background-color: #2a2a2a;
  text-align: center;
  overflow-y: scroll;
}
*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

.main-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include smallAndUp{
    width: 530px;
  }
  @include mediumAndUp{
    width: 720px;
  }
  @include largeAndUp{
    width: 960px;
  }
  @include extraLarge{
    width: 1140px;
  }
}

.be-center {
  margin-right: auto;
  margin-left: auto;
}

.be-right-div {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #777777;
}

.core-1{
  color: #fed136;
}

.core-2{
  color:#009688;
}

.hidden-xs {
  @include extraSmallOnly {
    display: none!important;
  }
}

.hidden-sm {
  @include smallAndLess {
    display: none!important;
  }
}

.hidden-md {
  @include mediumAndLess {
    display: none!important;
  }
}

// For all page headings
.main-container {
  .main-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      position:relative;
  }
  h2.main-heading:before, h2.main-heading:after{
    position: absolute;
    top: 50%;
    display: block;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    content: "";
    @include extraLarge{
      width: 30%
    }
    @include mediumAndUp{
      width: 20%;
    }
    @include smallAndUp{
      width: 15%;
    }
    @include extraSmallOnly{
      width: 0px;
    }
    
    
  }
  h2.main-heading:before{
    left: 0;
  }
  h2.main-heading:after{
    right: 0;
  }
  .main-subheading{
      font-size: 16px;
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 75px;
  }   
}


// Scroll bar slim style
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Work Section */
/* .work-page {
  display:flex;
  justify-content: space-between;
} */

/* Contact Section */

#footer {
  bottom:0px;
  height: 40px;
  width: 100%;
  background-color: #121e1f;
  color: #7d8384;
}