@import "bootstrap/scss/bootstrap.scss";
@import 'home';
@import 'navBar';
@import 'input';
@import 'loginForm';
@import 'skills';
@import 'mixins';



body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  background-color: #2a2a2a;
  text-align: center;
}
*, :after, :before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

.be-center {
  margin-left: auto;
  margin-right: auto;
}

.home-icon {
  position: relative;
}

.menuIcon {
  position: absolute;
  margin: 0px 40px;
  right: 0px;
  transform: scale(0.6);
}

.right-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transition: 1s ease-out;
  &:hover {
    transform: scale(1.5);
    transition: 1s ease-in;
  }
}

.left-arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  transition: 1s ease-out;
  &:hover {
    transform: scale(1.5);
    transition: 1s ease-in;
  }
}

/* Intro Section */

/* .App {
  min-height: 100vh;
  // background: url(./img/bodybackground.jpg) no-repeat;
  background: #121e1f;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
} */



/* Intro Section - Media Queries */
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.952);
    H1 {
      font-size: 60px;
      font-weight: 500;
      letter-spacing: -2px;
    }
    .name {
      font-weight: 600;
    }
    .intro-text {
      max-width: 75%;
      p {
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 20px;
      }
    }
  }
}

/* About */

.parent-col {
  display: flex;
  justify-content: center;
}

.profileImage {
  border-radius: 48%;
  /* transition: ease(0.5s);
  -webkit-transition: ease(0.5s);
  -moz-transition: ease(0.5s);
  -o-transition: ease(0.5s); */
  transition: all 0.3s ease-in-out;
  transition-timing-function: ease-in-out;
}

/* Skills Section */

.skills {
  overflow: hidden;
}

.skill-item {
  width: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

/* Work Section */
/* .work-page {
  display:flex;
  justify-content: space-between;
} */

/* Contact Section */

.contact-page {
  // overflow-x: hidden;
  // overflow-y: hidden;
  // /* max-width: 1124px; */
  text-align: center;
  // margin-right: auto;
  // margin-left: auto;
}

.contact {
  background-color: #474747;
  color: #ddd;
  // min-height: 90vh;
}

.contact-item1, .be-center {
  margin-right: auto;
  margin-left: auto;
}

.social > ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem;
}

#footer {
  bottom:0px;
  height: 40px;
  width: 100%;
  background-color: #121e1f;
  color: #7d8384;
}